<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT-CHATBOT-WhatsApp</title>
</head>
<body>
    <form action="/add-product" method="post">
        <label for="keyword">UUID:</label><br>
        <input type="text" id="uuid" name="uuid" placeholder="1"><br>
        <label for="keyword">Keyword:</label><br>
        <input type="text" id="keyword" name="keyword" placeholder="Cola-Cola"><br>
        <label for="message">Message:</label><br>
        <input type="text" id="message" name="message" placeholder="Thanks For Order"><br>
        <label for="id">Id of Kategori:</label><br>
        <input type="text" id="id" name="id" placeholder="613b38f32596ea132eb13a48"><br>
        <label for="id">Price:</label><br>
        <input type="text" id="price" name="price" placeholder="in dollar USD" value="2"><br>
        <label for="id">Currency:</label><br>
        <input type="text" id="currency" name="currency" value="USD" readonly><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>