<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KATEGORI-CHATBOT-WhatsApp</title>
</head>
<body>
    <form action="/add-kategori" method="post">
        <label for="keyword">Keyword:</label><br>
        <input type="text" id="keyword" name="keyword" placeholder="Drink"><br>
        <label for="message">Message:</label><br>
        <input type="text" id="message" name="message" placeholder="Choose Product..."><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>