<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE INVOICE XENDIT API</title>
</head>
<body>
    <form action="/create-invoice" method="post">
        <label for="email">Email Pengguna : </label><br>
        <input type="text" id="email" name="email" placeholder="example@gmail.com"><br>
        <label for="description">Description :</label><br>
        <input type="text" id="description" name="description" placeholder="Invoice for Shoes Purchase"><br>
        <label for="name">Name Customer :</label><br>
        <input type="text" id="name" name="name" placeholder="Aziz"><br>
        <label for="total">Amount :</label><br>
        <input type="text" id="total" name="total" placeholder="1000"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>